{% extends "layout.html" %}
{% block content %}
<h1>Account Information</h1>
<dl class="row pt-3">
    <dt class="col-sm-3">Username:</dt>
    <dd class="col-sm-9">{{ current_user.username }}</dd>
    <dt class="col-sm-3">Email Address:</dt>
    <dd class="col-sm-9">{{ current_user.email }}</dd>
</dl>
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }} <!-- For CSRF security purposes -->
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Change Password</legend>
            <div class="mb-3">
                {{ form.new_password.label(class="form-label")}}

                <!-- Validate password -->
                {% if form.new_password.errors %}
                {{ form.new_password(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.new_password.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.new_password(class="form-control") }}
                {% endif %}
            </div>
            <div class="mb-3">
                {{ form.confirm_new_passwd.label(class="form-label")}}

                <!-- Validate confirm_password -->
                {% if form.confirm_new_passwd.errors %}
                {{ form.confirm_new_passwd(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_new_passwd.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.confirm_new_passwd(class="form-control") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="col-12">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>

{% endblock %}